
<div *ngIf="getStep()==1">
		<app-bigbox title="Did this just occur?" color="#7380C9"></app-bigbox>
		<app-optionsbuttons title="Yes" (click)="gotoStep(2)"></app-optionsbuttons>
		<app-optionsbuttons title="No" (click)="gotoStep(3)"></app-optionsbuttons>
	</div>
	
	<div *ngIf="getStep()==2">
		<app-bigbox title="Are you safe?" color="red"></app-bigbox>
		<app-optionsbuttons title = "Yes" (click)= "gotoStep(4)"></app-optionsbuttons>
		<app-optionsbuttons title = "No" (click) = "gotoStep(5)"></app-optionsbuttons>
	</div>
	
	<div *ngIf="getStep()==3">
		<app-bigbox title="Gather Information Before Calling 911" color="#7380C9"></app-bigbox>
		<div>
			<ul>
				<!-- hoping this is a form that can be integrated rather than output-->
				<li>description of suspect</li>
				<li>relation if any</li>
				<li>Time/Date</li>
				<li>sex acts</li>
				<li>Clothing worn at the time</li>
				<li>injuries</li>
				<!-- will also need an external link from this page-->
				<li>Additional Resources page</li>
				<!-- will also need an external link from this page-->
				<li>time <48 hours will need to add hospital locations</li>
			</ul>
		</div>>
	</div>
	
	<div *ngIf="getStep()==4">
		<div>
			<ul>
		  <li>Need to link to location options to run away</li>
		  <li>For sense of safety tell them police are notified your location</li>
			</ul>
		</div>>
	</div>
	
	<!-- will need to be based on time to know hours of buildings open-->
	<div *ngIf="getStep()==5">
		<app-geolocate></app-geolocate>
		<div>
			<ul>
		  <li>Recommend safe place</li>
		  <li>Output nearest blue box based on location</li>
			</ul>
		</div>>
	</div>