<div class="row custom-row">
        <div class= "col-sm-5 custom-container jumbotron" align = "center">
             
          <form class="form-horizontal">
              <fieldset>
                <legend>Contact Us</legend>
               
                  <!--- Email Block -->
                  <div class="form-group">
                    <label for="inputEmail">Name</label>
                    <input type="text"
                      id="inputEmail"
                      placeholder="Email">
                  </div>
                  <!--- Password Block -->
                  <div class="form-group">
                    <label for="inputSchool">School Name</label>
                    <input type="text">
                  </div>
           

                  <!-- Email Block-->
                  <div class="form-group">
                    <label for="inputEmail" >E-mail</label>
                    <input type="email">
                  </div>
                   

                  <!-- Contact Box Block-->
                  <div class = "form-group">
                      <label for = "comment"></label>
                      <textarea id="comment" cols = "30" rows ="10"></textarea>
                  </div>

                
                 <!--- Buttons Block -->
                  <div class="form-group">
                      <button type="reset" class="btn btn-default">Cancel</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </fieldset>
          </form>
        </div>
      </div>

    <!-- Need to use data.service.ts to grab info from backend to frontned thats the flow -->