<app-header></app-header>
<!--I think whatever is fucking this up, is messing up the original stuff too-->
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="School Name" name="schoolName">
  </mat-form-field>


    <br>
    <mat-form-field>
      <input matInput placeholder="Your Email" name="schoolEmail">
    </mat-form-field>

  <br> 
  <mat-form-field>
    <input matInput placeholder="Subject" name="contactReason">
  </mat-form-field>

  <br>
  <mat-form-field>
    <textarea matInput placeholder="Message" name  = "textArea"></textarea>
  </mat-form-field>
</div>