<app-header></app-header>

<div>
    <form class = "example-form center" name = "contactform">
      <mat-card>
          <mat-form-field class = "example-full-width">
              <input matInput placeholder = "Name" name="name">
          </mat-form-field>

          <br>
          <mat-form-field class = "example-full-width">
              <input matInput placeholder = "Subject" name="subject">
          </mat-form-field>

          <!-- Adding an option to scroll through options-->
          <br>
          <mat-form-field>
            <mat-select placeholder="Type of Issue" [(ngModel)]="selectedValue" name = "issue">
              <mat-option *ngFor="let issue listings" [value]="issue.value">
                {{ issue.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Please write down your issue."></textarea>
          </mat-form-field>

          <br>
          <button mat-raised-button (click) = "showSubmit()">Submit</button>
          <mat-spinner [style.display] ="showSpinner ? 'block' : 'none'"></mat-spinner>

      </mat-card>
    </form>
  </div>

<app-footer></app-footer>