<app-header></app-header>

<div>
    <form class = "example-form center">
      <mat-card>
          <mat-form-field class = "example-full-width">
              <input matInput [(ngModel)] = "Name" placeholder = "Name of Student" name = "nameOfStudent">
          </mat-form-field>

          <br>
          <mat-form-field class = "example-full-width">
              <input matInput [(ngModel)] = "Key" placeholder = "Your Key" name = "key">
          </mat-form-field>
      
          <br> 
          <button mat-raised-button (click) = "showSubmit()">Submit</button>
      
      </mat-card>
    </form>	
  </div>>

<app-footer></app-footer>