<app-header></app-header>

<div>
    <form class = "example-form center">
      <mat-card>
          <mat-form-field class = "example-full-width">
              <input matInput [(ngModel)] = "Submit" placeholder = "Name of Student">
          </mat-form-field>

          <br>
          <mat-form-field class = "example-full-width">
              <input matInput [(ngModel)] = "Submit" placeholder = "Your Key">
          </mat-form-field>
      
          <br> 
          <button mat-raised-button (click) = "showSubmit()">Submit</button>
          <mat-spinner [style.display] ="showSpinner ? 'block' : 'none'"></mat-spinner>
      
      </mat-card>
    </form>	
  </div>>

<app-footer></app-footer>