
<div *ngIf="getStep()==1">
	<app-bigbox title="Are You being followed right now?" color="#7380C9"></app-bigbox>
	<app-optionsbuttons title="Yes" (click)="gotoStep(2)"></app-optionsbuttons>
	<app-optionsbuttons title="No" (click)="gotoStep(3)"></app-optionsbuttons>
</div>

<!-- this will be based on campus and off campus-->
<!-- if on campus give campus po #-->
<div *ngIf="getStep()==2">
	<app-bigbox title="Call 911 Immediately" color="red"></app-bigbox>
</div>

<div *ngIf="getStep()==3">
	<app-bigbox title="Gather Information Before Calling 911" color="#7380C9"></app-bigbox>
	<div>
		<form class = "example-form center">
		  <mat-card>
			  <mat-form-field class = "example-full-width">
				  <input matInput [(ngModel)] = "Submit" name = "nameOfPerson" placeholder = "Name of the person if known">
			  </mat-form-field>
  
			  <br>
			  <mat-form-field class = "example-full-width">
				  <input matInput [(ngModel)] = "Submit" name = "descOfPerson" placeholder = "Description of person">
			  </mat-form-field>
		  
			  <br>
			  <mat-form-field class = "example-full-width">
					  <input matInput [(ngModel)] = "Submit" name = "relToPerson" placeholder = "Relation to you if any">
			  </mat-form-field>
			  
			  <!-- Need hammer.js added to use this stuff down here
			  <br>
			  <mat-slider></mat-slider>
			    -->
			  
			  <br> 
			  <button mat-raised-button (click) = "showSubmit()">Submit</button>
			  <mat-spinner [style.display] ="showSpinner ? 'block' : 'none'"></mat-spinner>
		    
		  </mat-card>
	  
		  <mat-card *ngIf = "answerDisplay">
			  <h1>{{ submitDisplay}}, you're damn right.</h1>
		  </mat-card>
	  </form>	
	  </div>>
</div>

