<div class="desktop-view">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let item of listItems" [style.background]="item.color">
                <div class="halfbox" routerLink="{{item.link}}">
                    <img src="{{item.image}}" style="height: 100%; width: 100%; object-fit: contain">
                </div>
                <div class="halfbox text" routerLink="{{item.link}}">
                    {{item.title}}
                </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>


<div class="mobile-view">
    <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile *ngFor="let item of listItems" [style.background]="item.color">
                <div class="halfbox" routerLink="{{item.link}}">
                    <img src="{{item.image}}" style="height: 100%; width: 100%; object-fit: contain">
                </div>
                <div class="halfbox text" routerLink="{{item.link}}">
                    {{item.title}}
                </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>
