<app-header></app-header>
<div class="main">
		<div class="fancy-line">
			<span class="bold">
				About Us
			</span>
		</div>
		<div class="plain-text">
				ESNS is meant to be used by students and administrators alike to have the
				ability to report and track a live shooter. It is also meant to be able to
				receive live updates and allow special administration. <br><br>
				Every user must give basic information for student and admin such as: name,
				school e-mail, phone number. This will allow the website to push notifications.
				The server and database must be able to pass location information.<br><br>
				The purpose of the website is not to replace 9-1-1, but rather to aid first aid 
				responders during a school emergency. 
		</div>

		<div class="fancy-line">
			<span class="bold">
				Features
			</span>
		</div>
		<br><br><br><br><br><br>

		<app-card cardTitle1="Police Assist"
		cardImage1="https://qph.fs.quoracdn.net/main-qimg-d0aaf322830eebf0c4e86e90ea5ea467-c"
		cardText1="If the student is safe, our application provides the ability for students to
		report where an active shooter is. This information is then passed onto police to help
		them locate the suspects as quickly as possible."
		cardTitle2="Find Loved Ones"
		cardImage2="https://i.dailymail.co.uk/i/pix/2015/06/26/10/29FDE98600000578-3140187-Apple_s_Find_My_Friends_app_pictured_lets_users_easily_share_and-a-52_1435310256217.jpg"
		cardText2="We provide the ability to track your loved ones location and safety, live, without fear of overloading the cell networks."
		></app-card>

		<app-card cardTitle1="Admin Dashboard"
		cardImage1="https://d85wutc1n854v.cloudfront.net/live/products/icons/WB03GB113.jpg?v=1.6.0"
		cardText1="Our advanced administrative dashboard provides police and school administrators
		up-to-the-second reports and status of the emergency. Live tracking of all students and suspects on a map."
		cardTitle2="Speed and Reliability"
		cardImage2="https://media.giphy.com/media/88Cw9Vce6IzE4/giphy.gif"
		cardText2="During an emergency, our website goes into low-bandwidth, high-performance mode, ensuring that cell
		and WiFi networks remain online and not overloaded. Our servers can handle hundreds of thousands of requests per second."
		></app-card>


</div> 
<app-footer></app-footer>