<div class="esns_header">
  <!-- side nav for mobile devices -->
  <div class="mobile-menu">


    <!-- #menu="matMenu"
      <a mat-list-item routerLink="item.link" *ngFor="let item of getMenu()">{{item.title}}</a>
    -->

    <mat-accordion class="mobile-menu">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{panelOpenState ? 'Close' : 'Open'}} Menu
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panels" *ngFor="let item of getMenu()" routerLink="/{{item.link}}">{{item.title}}</div>
      </mat-expansion-panel>
    </mat-accordion>
   
    
     
  </div>
  
  <div class="desktop-menu">
  <!-- top nav for desktop devices -->
    <div class="menu-container desktop-menu">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>ESNS</span>
            <span class="example-spacer"></span>
            <button mat-button *ngFor="let item of getMenu()" routerLink="/{{item.link}}">{{item.title}}</button>
          </mat-toolbar-row>
        </mat-toolbar>
    </div>
  </div>
    
  
  <!-- always there report button -->
  <a href="/report">
    <button mat-raised-button color="warn" class="reportBtn">Report</button>
  </a>
</div>

<div class="header-spacer"></div>
<div style="clear: both;"></div>
