.bigbox {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	/*border-style: solid;*/
	margin: auto;
	cursor: pointer;
}

.bigbox.text {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	margin-top: 20%;
}
 
@media (max-width: 400px){
	.bigbox.text {
		margin-top: 10%;
		font-size: 24px;
	}
}

@media (min-width: 400px){
	.bigbox.text {
		margin-top: 10%;
		font-size: 30px;
	}
}

