<div class="flex-container" *ngIf="studentSelected()">

	<div style="background-color: #E37475;" (click)="sendEmail()" *ngIf="!emailSending">
        <div id="parent">
            <div class="child">
                <img src="https://www.esns.life/images/email.svg" class="icon">
                <br>
            </div>
            <div class="child">
                    <div class="infobox-header">
						Request <br>
						Update
                    </div>
            </div>
        </div>
    </div>

	<div class="second selectNew" style="background-color: #E37475;" *ngIf="emailSending">
		<app-gears></app-gears>
	</div>





	<div style="background-color: #54C7FC;" (click)="sendText()" *ngIf="!textSending">
        <div id="parent">
            <div class="child">
                <img src="https://www.esns.life/images/text.svg" class="icon">
                <br>
            </div>
            <div class="child">
                    <div class="infobox-header">
						Request <br>
						Update
                    </div>
            </div>
        </div>
    </div>

	<div class="second selectNew" style="background-color: #54C7FC;" *ngIf="textSending">
		<app-gears></app-gears>
	</div>


</div>