<div class="second" style="background-color: DarkBlue ;" *ngIf="studentSelected()">
	<div class="third" id="parent">
		<div class="child">
			<img src="https://www.esns.life/images/email.svg" style="width: 150px">
		</div>
	</div>
</div>

<div class="second" style="background-color: DarkBlue ;" *ngIf="studentSelected()">
	<div class="third" id="parent">
		<div class="child">
			<div class="child">
				<img src="https://www.esns.life/images/text.svg" style="width: 150px">
			</div>
		</div>
	</div>
</div>