<div class="flex-container">

	<div style="background-color: #6E5B7B;" routerLink="/mapeditor">
        <div id="parent">
            <div class="child">
                <img src="https://www.esns.life/images/edit.svg" class="icon">
                <br>
            </div>
            <div class="child">
                    <div class="infobox-header">
                        Edit<br>
                        Maps
                    </div>
            </div>
        </div>
    </div>

	<div style="background-color: #8AB6B7;" routerLink="/map">
        <div id="parent">
            <div class="child">
                <img src="https://www.esns.life/images/map-location.svg" class="icon">
                <br>
            </div>
            <div class="child">
                    <div class="infobox-header">
                        Active <br>
                        Map
                    </div>
            </div>
        </div>
    </div>
</div>